@font-face {
    font-family: "SadMachine";
    src: url("/fonts/sadmachine/SadMachine.ttf");
}

body {
    background-image: url(/img/fondo/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    width: 99%;
    height: 97%;
    border: 2px black solid;
}

.barraVida-01 {
    position: absolute;
    width: 30%;
    height: 5%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: red;
    border: 2px black solid;
    border-radius: 1.25em;
    font-family: 'SadMachine';
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contadorTiempo {
    position: absolute;
    width: 5%;
    height: 5%;
    margin-top: 5%;
    margin-left: 47%;
    background-color: yellow;
    border: 2px black solid;
    border-radius: 1.5em;
    font-family: 'SadMachine';
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barraVida-02 {
    position: absolute;
    width: 30%;
    height: 5%;
    margin-top: 5%;
    margin-left: 60%;
    background-color: blue;
    border: 2px black solid;
    border-radius: 1.25em;
    font-family: 'SadMachine';
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jugadorDerecha {
    position: absolute;
    width: 5em;
    margin-top: 30.5em;
    margin-left: 20em;
}

.jugadorIzquierda {
    position: absolute;
    width: 5em;
    margin-top: 30.5em;
    margin-left: 70em;
}