@font-face {
    font-family: "SadMachine";
    src: url("/fonts/sadmachine/SadMachine.ttf");
}

body {
    background-color: black;
}


/* Pantalla Seleccion Personajes*/

.characterSelection {
    position: absolute;
    width: 200vh;
    height: 96vh;
    margin-left: 0.5vh;
    background-image: url(/img/fondo/eleccion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'SadMachine';
    font-size: 5vh;
}

.marcoJ1 {
    position: absolute;
    width: 30vh;
    height: 50vh;
    margin-top: 5vh;
    margin-left: 20vh;
    border: 0.35vh black solid;
    border-radius: 1.5vh;
}

.personajeSeleccionado01 {
    position: absolute;
    width: 30vh;
    margin-top: 10vh;
    margin-left: -2vh;
}

.txtVS {
    position: absolute;
    margin-top: 10vh;
    margin-left: 86vh;
    font-size: 40vh;
    color: white;
}

.marcoJ2 {
    position: absolute;
    width: 30vh;
    height: 50vh;
    margin-top: 5vh;
    margin-left: 150vh;
    border: 0.35vh black solid;
    border-radius: 1.5vh;
}

.personajeSeleccionado02 {
    position: absolute;
    width: 30vh;
    margin-top: 10vh;
    margin-left: 2vh;
}

.fight {
    position: absolute;
    margin-top: 60vh;
    margin-left: 50vh;
    margin-left: 95vh;
    transition: 0.2s;
}

.fight:hover {
    color: white;
    transition: 0.2s;
}


/* Pantalla In - Game*/

.inGame {
    position: absolute;
    width: 200vh;
    height: 96vh;
    margin-top: 0.5vh;
    margin-left: 0.5vh;
    background-image: url(/img/fondo/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: none;
}

.barraVida-01 {
    position: absolute;
    width: 60vh;
    height: 3.5vh;
    margin-top: 15vh;
    margin-left: 10vh;
    background-color: red;
    border: 0.25vh black solid;
    border-radius: 5vh;
    font-family: 'SadMachine';
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contadorTiempo {
    position: absolute;
    width: 10vh;
    height: 10vh;
    margin-top: 12vh;
    margin-left: 94vh;
    border: 0.25vh black solid;
    color: white;
    border-radius: 50%;
    font-family: 'SadMachine';
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jugadorDerecha {
    position: absolute;
    width: 20vh;
    margin-top: 62.5vh;
    margin-left: 35vh;
}

.barraVida-02 {
    position: absolute;
    width: 60vh;
    height: 3.5vh;
    margin-top: 15vh;
    margin-left: 130vh;
    background-color: blue;
    border: 0.25vh black solid;
    border-radius: 5vh;
    font-family: 'SadMachine';
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jugadorIzquierda {
    position: absolute;
    width: 20vh;
    margin-top: 62.5vh;
    margin-left: 145vh;
}