p {
    margin-top: 1.2em;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
}

.GBoy {
    position: absolute;
    width: 30em;
    height: 50em;
    background-color: #4a2c84;
    border-radius: 1.4em;
}

.bordePantalla {
    position: absolute;
    width: 23em;
    height: 23em;
    background-color: #303437;
    border-radius: 0.5em;
    margin: 2em 0em 5em 3.5em;
}

.pantalla {
    position: absolute;
    width: 17em;
    height: 17em;
    background-color: #c3c8b1;
    /*background-image: url(/img/game.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    margin: 2.1em 0em 5em 3em;
}

.luzPower {
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    background-color: red;
    border-radius: 100%;
    margin: 5em 0em 0em 0.4em;
}

.simboloPower {
    position: absolute;
    color: white;
    margin-top: 4.6em;
    margin-left: 1em;
}

.letrasPower {
    position: absolute;
    color: white;
    font-size: 0.6em;
    margin-top: 10em;
    margin-left: 0.8em;
}

.marcaColor {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 13.5em;
    height: 3em;
    margin: 20em 0em 0em 5em;
}

.marcaColor #logoNombre {
    color: #bdc6d4;
    /*font-family: Gill Sans;*/
    font-size: 1.5em;
    margin-top: 0.2em;
}

.marcaColor #colorNombre {
    font-family: "Comic Sans MS";
    font-size: 1.5em;
    /*font-style: bo;*/
}

.marcaColor #c {
    color: #7b1e57;
}

.marcaColor #o1 {
    color: #56527d;
}

.marcaColor #l {
    color: #7d9273;
}

.marcaColor #o2 {
    color: #c4c470;
}

.marcaColor #r {
    color: #27619d;
}

.flechas #arriba {
    position: absolute;
    margin-top: 30em;
    margin-left: 5.5em;
    width: 3.1em;
    height: 3em;
}

.flechas #derecha {
    position: absolute;
    margin-top: 33em;
    margin-left: 8.5em;
    width: 3.1em;
    height: 3em;
    transform: rotate(90deg);
}

.flechas #abajo {
    position: absolute;
    margin-top: 36em;
    margin-left: 5.5em;
    width: 3.1em;
    height: 3em;
    transform: rotate(180deg);
}

.flechas #izquierda {
    position: absolute;
    margin-top: 33em;
    margin-left: 2.5em;
    width: 3.1em;
    height: 3em;
    transform: rotate(270deg);
}

.botonA {
    position: absolute;
    margin-top: 30em;
    margin-left: 24em;
}

.botonA #tamanioA {
    width: 4em;
    height: 4.7em;
}

.botonB {
    position: absolute;
    margin-left: 20.5em;
    margin-top: 32.5em;
}

.botonB #tamanioB {
    width: 4em;
    height: 4.7em;
}

.SSbtns {
    position: absolute;
    width: 8em;
    height: 2em;
    margin-top: 41em;
    margin-left: 1em;
    align-items: center;
    display: flex;
}

.start {
    position: absolute;
    background-color: #303437;
    width: 3em;
    height: 1em;
    border-radius: 3em;
    box-shadow: black;
    font-size: 0.8em;
    -webkit-box-shadow: 1.5px 1px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1.5px 1px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 1.5px 1px 5px -1px rgba(0, 0, 0, 0.75);
    align-items: center;
}

.select {
    position: absolute;
    background-color: #303437;
    width: 3em;
    height: 1em;
    border-radius: 3em;
    margin-left: 5.2em;
    box-shadow: black;
    font-size: 0.8em;
    -webkit-box-shadow: 1.5px 1px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1.5px 1px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 1.5px 1px 5px -1px rgba(0, 0, 0, 0.75);
    align-items: center;
}

#altavoces {
    position: absolute;
    font-size: 0.7em;
    width: 10em;
    height: 10em;
    letter-spacing: 0.2em;
    line-height: 01em;
    text-align: center;
    margin-top: 58em;
    margin-left: 23em;
    text-shadow: 0.2em 0.2em 0.2em rgb(0, 0, 0);
    transform: rotate(-5deg);
}

.bordeInferior {
    position: absolute;
    width: 21em;
    height: 0em;
    border-right: 4.375em solid transparent;
    border-left: 4.375em solid transparent;
    border-top: 6.25em solid #4a2c84;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transform: rotate(180deg);
    margin-top: 45.8em;
}